@use "sass:color";
@use "sass:map";

@import "@/assets/scss/themes/light.scss";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "./components/navbar.scss";
@import "./components/modal.scss";
@import "./components/login.scss";
@import "./components/input.scss";
@import "./mixins.scss";

html,
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
    background-color: map-get($map: $white-colors, $key: "background");
    overflow: hidden;
    overscroll-behavior-y: contain;
    user-select: none;
}

html {
    overflow-y: scroll;
}

.text-monospace {
    font-family: 'Ubuntu Mono', monospace;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 20;
}

.main-pageview {
    height: auto;
    overflow: hidden;

    min-height: 100vh;

    margin-top: 50px;
}

$btn-border-radius: 5px;

.btn:not(.btn-transparent):not(.btn-mid-transparent) {
    @include CardBase;
    border: none;
}

.btn-mid-transparent {
    @include CardBase;
    border: none;

    color: black;
}

.btn-primary:focus,
.btn-primary:hover {
    color: white;
}

.avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.text-subtext {
    color: rgba($color: #000000, $alpha: 0.5);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 14.8px;
}

.btn-with-left {
    @include CardBaseShadow;

    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    transition-property: transform, box-shadow;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.btn-with-left img {
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.button-left {
    @include CardBase;

    background-color: map-get($map: $white-colors, $key: "light-400");
    border-top-left-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
    padding: 10px;
    margin-right: 15px;

    padding-right: 0px;
}

.button-left::after {
    content: "a";
    position: relative;
    width: 7px;
    height: 12px;
    left: 8px;
    color: transparent;
    background-image: url(@/assets/ButtonArrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

.btn-with-left:hover {
    transform: translateY(-2px);
    @include CardBaseShadow_Hover;
}

.btn-with-left:hover img {
    transform: rotate(-15deg);
}

.btn-with-left:active img {
    transform: rotate(-20deg);
}

.btn-with-left:active {
    transform: translateY(1px);
    filter: brightness(90%);
}

.text-subtext {
    font-weight: 500;
}

hr {
    border-top: 2px solid map-get($map: $white-colors, $key: "light-500");
}

.btn-primary {
    color: white;
}

.dropdown-menu {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.dropdown-menu-end {
    right: 25%;
}

.card {
    background-color: map-get($map: $white-colors, $key: "light-100");
    border-radius: 10px;
}

.card:not(.btn-transparent):not(.btn-link) {
    @include CardBaseShadow;
}

a,
.btn-link {
    cursor: pointer;
    color: map-get($map: $theme-colors, $key: "primary");
}

.btn-transparent {
    border: none;
}

.progress {
    height: 10px;
}

.progress-bar {
    background-color: map-get($map: $theme-colors, $key: "primary");
}

.form-control:focus {
    @include InputShadowFocus;
    background-color: map-get($map: $white-colors, $key: "light-300");
}

.dev-links {
    overflow-x: auto;
}

.btn {
    transition: transform 0.25s;
}

.btn:active {
    transform: scale(0.95);
}

.dropdown-menu.show {
    animation: dropdownPop 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.acceptcookies-card {
    position: fixed;
    bottom: 25px;
    right: 15px;
}

@media only screen and (max-width: 600px) {
    .dropdown-menu-end[data-bs-popper] {
        left: 0 !important;
    }

    .main-pageview {
        margin-top: 0px;
    }

    .ac-card {
        position: fixed;
        bottom: 60px;
        right: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .navbar {
        display: none;
    }

    .acceptcookies-card {
        position: fixed;
        bottom: px;
        right: 0px;
    }
}

@keyframes dropdownPop {
    from {
        transform: translateY(15px);
    }
}

.swal2-confirm {
    background-color: map-get($map: $theme-colors, $key: "primary") !important;
}

.swal2-cancel {
    background-color: map-get($map: $theme-colors, $key: "secondary") !important;
}

.btn-secondary {
    color: white;
}

.chick-spinner {
    width: 50px;
    height: 50px;
    background-image: url("../spinner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;

    animation: chickSpin 2s linear infinite;
}

.chick-spinner-light {
    background-image: url("../loading-spinner-white.png");
}

@keyframes chickSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.top-pv.hide .main-pageview {
    margin-top: 0;
}

.top-pv.hide .footer-nav {
    display: none;
}


.mobile-nav.hide {
    display: none;
}


.main-pageview.hide {
    margin-bottom: 0;
}

.page-trans {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1057;
    display: none;
    pointer-events: none;
}

.page-trans.loading {
    --x: 50%;
    --y: 50%;
    display: block;
    animation: pageTransAnim 2s cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    cursor: progress;
    pointer-events: all;
}


.page-trans.loading-no-anim {
    --x: 50%;
    --y: 50%;
    display: block;
    cursor: progress;
    pointer-events: all;
}

.page-trans.loaded {
    display: block;
    animation: pageHideAnim 2s cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}

@keyframes pageTransAnim {
    0% {
        clip-path: circle(0% at var(--x) var(--y));
    }

    100% {
        clip-path: circle(100% at 50% 50%);
    }
}

@keyframes pageHideAnim {
    0% {
        clip-path: circle(100% at 50% 50%);
    }

    100% {
        clip-path: circle(0% at 50% 50%);
    }
}

.block-focus {
    animation: blockFocusPop 0.25s linear;
    animation-iteration-count: infinite;

    outline: solid orange;
    border-radius: 10px;
}

@keyframes blockFocusPop {
    0% {
        outline-offset: 0px;
    }

    50% {
        outline-offset: 5px;
    }

    100% {
        outline-offset: 0px;
    }
}

.btn[disabled="true"] {
    opacity: 0.5;
}

.btn-danger {
    color: white;
}

.circle-close {
    animation: circleCloseAnim 1s cubic-bezier(0.16, 1, 0.3, 1);
    clip-path: circle(0% at 50% 50%);
}

.circle-open {
    animation: circleOpenAnim 1s cubic-bezier(0.7, 0, 0.84, 0);
    clip-path: circle(100% at 50% 50%);
}

@keyframes circleCloseAnim {
    0% {
        clip-path: circle(100% at 50% 50%);
    }

    100% {
        clip-path: circle(0% at 50% 50%);
    }
}

@keyframes circleOpenAnim {
    0% {
        clip-path: circle(0% at 50% 50%);
    }

    100% {
        clip-path: circle(100% at 50% 50%);
    }
}

.element-focus {
    animation: elementTada 1s linear;
}

@keyframes elementTada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width: 576px) {
    .w-md-100 {
        width: 100%;
    }
}

.navbar-nav .nav-link {
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 0.8;
}

.navbar-nav .nav-link:active {
    transform: scale(0.85);
}

.navbar-nav .nav-link.router-link-active {
    animation: bounceIn 1s;
    color: map-get($map: $theme-colors, $key: "primary");
    opacity: 1;
}

.icon-link.router-link-active .vue-feather svg {
    stroke: map-get($map: $theme-colors, $key: "primary");
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        transform: scale3d(.85, .85, .85);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.user-selectable {
    user-select: text;
}