@mixin CardBaseShadow {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

@mixin CardBaseInner {
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25), inset 0px 1px 0px rgba(21, 21, 21, 0.25);
}

@mixin CardBase {
    box-shadow: inset 0px -2px 0px rgba(21, 21, 21, 0.25);
}

@mixin CardBaseShadow_Hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15), inset 0px -1px 0px rgba(21, 21, 21, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.25);
}

@mixin InputShadowFocus {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15), inset 0px 1px 0px rgba(21, 21, 21, 0.25);
}