rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /userData/{userID} {
        match /{allPaths=**} {
          allow read, write, create: if request.auth.uid == userID;
        }
        allow delete: if request.auth.uid == userID;
    }
  }
}
