.blocklyBlockDragSurface {
    animation: dragSurfaceStart 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
}

.geras-renderer.classic-theme .blocklySelected>.blocklyPath {
    stroke: var(--bs-warning);
}

.blocklyFlyoutBackground {
    fill: var(--bs-light-200);
}

.blocklyText {
    font-family: 'Ubuntu Mono', monospace !important;
}

.blocklyIconShape {
    fill: var(--bs-blue);
}

.blocklyBubbleCanvas {
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}

.blocklyPathLight, .blocklyPathDark {
    stroke: rgba(0, 0, 0, 0.05);
    stroke-width: 2px;
}

.blocklyToolboxCategory .blocklyTreeRow {
    cursor: pointer;
}

@keyframes dragSurfaceStart {
  
    to {
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
    }
}