.blocklyBlockDragSurface {
    animation: dragSurfaceStart 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
}

.blocklyFlyoutBackground {
    fill: var(--bs-light-200);
}

.blocklyText {
    font-family: "Bai Jamjuree", 'Ubuntu Mono', monospace !important;
}

.blocklyIconShape {
    fill: var(--bs-blue);
}

.blocklyBubbleCanvas {
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}

.blocklyPathLight, .blocklyPathDark {
    stroke: rgba(0, 0, 0, 0.05);
    stroke-width: 2px;
}

.blocklyToolboxCategory .blocklyTreeRow {
    cursor: pointer;
}

.geras-renderer.classic-theme .blocklyInsertionMarker>.blocklyPath {
    animation: insertionPop 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.geras-renderer.classic-theme .blocklyHighlightedConnectionPath {
    animation: connectedPathReveal 0.75s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes connectedPathReveal {
    0% {
        clip-path: circle(0% at 50% 50%);
    }
    100% {
        clip-path: circle(100% at 50% 50%);
    }
}

@keyframes insertionPop {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
}

@keyframes dragSurfaceStart {
  
    to {
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
    }
}

.blocklyWidgetDiv .blocklyMenu {
    animation: dropdownScale 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 10px;
}

.blocklyMenuItem  {
    padding: 3px 5px;
}

.blocklyMenuItemContent {
    padding: 5px 9px;
    border-radius: 8px;
}

.blocklyMenuItem:hover {
    background-color: transparent;
}

.blocklyMenuItem:not(.goog-menuitem-disabled):hover .blocklyMenuItemContent {
    background-color: var(--bs-primary);
    color: white;
}

.blocklyMenuItem:not(.goog-menuitem-disabled):active .blocklyMenuItemContent {
    filter: brightness(90%);
}

@keyframes dropdownScale {
    0% {
        max-height: 0%;
    }
    100% {
        max-height: 100%;
    }
}

.blocklyMenuItemContent.goog-menuitem-content {
    font-family: "Bai Jamjuree", 'Ubuntu Mono', monospace !important;
}

.blocklyTooltipDiv {
    font-family: "Bai Jamjuree", 'Ubuntu Mono', monospace !important;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    animation: tooltipAppears 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
}

@keyframes tooltipAppears {
    0% {
        transform: scale(0) translateX(-50%) translateY(-50%);
    }
}

.blocklyDraggable.worked > .blocklyPath {
    stroke: #fc3;
    stroke-width: 5px;

    animation: blockRunPop 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.blocklyDraggable.error > .blocklyPath {
    stroke: rgb(255, 51, 51);
    stroke-width: 5px;

    animation: blockRunPop 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes blockRunPop {
    0% {
        filter: brightness(120%);
        stroke-width: 0px;
    }
    100% {
        filter: brightness(100%);
        stroke-width: 5px;
    }
}

.blocklyIconShape[d="M2,15Q-1,15 0.5,12L6.5,1.7Q8,-1 9.5,1.7L15.5,12Q17,15 14,15z"] {
    fill: rgb(255, 51, 51);
}

@keyframes iconScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }   
}

.dragdown-guide {
    position: fixed;
    z-index: 999;

    animation: dragDownGuide 10s;
    pointer-events: none;
}

@keyframes dragDownGuide {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blocklyDropDownDiv {
    border-radius: 10px;
    box-shadow: none;
}

.blocklyAngleCircle {
    fill: var(--bs-light-200);
}

.blocklyAngleLine {
    stroke: var(--bs-primary);
    stroke-width: 5;
}

.blocklyAngleGauge {
    fill: var(--bs-secondary);
}

.blocklyAngleMarks {
    stroke: rgba(0, 0, 0, 0.485);
    stroke-width: 2;
}

.type-header text {
    color: var(--bs-light-500);
    font-family: "Bai Jamjuree", 'Ubuntu Mono', monospace !important;
}